<a href="https://colab.research.google.com/github/Ravinangal/colabgoogle/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 0
for i in range(1,100):
  sum = sum + i
print(sum)

4950

In [ ]:
e#first approach
for i in range(1,100,2):
  print(i+1)

#second approach
for i in range(1,100):
  if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [11]:
factorial_num = 5
for i in range (factorial_num,0,-1):
  factorial_num = factorial_num *  i-1
print(factorial_num)

566