<a href="https://colab.research.google.com/github/Ravinangal/colabgoogle/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 0
for i in range(1,100):
  sum = sum + i
print(sum)

4950

In [ ]:
#first approach even no
for i in range(1,10,2):
  print(i+1)

#second approach
for i in range(1,10):
  if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
factorial_num = 5
factorial = 1
for i in range (1,factorial_num):
  factorial = i *  i+1
print(factorial)

17

In [ ]:
for i in range(1,100+1):
  if(i%25 == 0 or i%30 == 0 or i%36 == 0):
    print(i)

25
30
36
50
60
72
75
90
100
108
120
125
144
150
175
180
200
210
216
225
240
250
252
270
275
288
300
324
325
330
350
360
375
390
396
400
420
425
432
450
468
475
480
500
504
510
525
540
550
570
575
576
600
612
625
630
648
650
660
675
684
690
700
720
725
750
756
775
780
792
800
810
825
828
840
850
864
870
875
900
925
930
936
950
960
972
975
990

In [ ]:
for i in range(1,1000+1):
  if(i%25 == 0 and i%3 == 0 and i%9 != 0):
    print(i)

75
150
300
375
525
600
750
825
975

In [ ]:
#fibonacci series
num1 = 0
num2 = 1
fib_num = 10
fib_series = 0
if(fib_num == 0):
  print(fib_num )
elif(fib_num == 1):
  print(fib_num )
else:
  print(num1)
  print(num2)
  for i in range(0,fib_num-2):
    fib_series = num1 + num2
    num1 = num2
    num2 =  fib_series
    print(fib_series)

0
1
1
2
3
5
8
13
21
34

In [ ]:
n = 5
while(n>0):
  print(n)
  n = n-1

5
4
3
2
1

In [ ]:
num = 6523
sum = 0
new_num = 0
while(num > 0):
  digit = num % 10
  sum = sum + digit
  num = num // 10
  print(digit)
  new_num = new_num*10 + digit
print(new_num)
print(sum)

3
2
5
6
3256
16

In [5]:
a=7
b=2
print(a/b)
print(a//b) #floor value
print(round(a/b)) #goes to nearest even value of 0.5

3.5
3
4

In [31]:
num = 64732
sum = 0
reverse = 0
print("The  number is : ",num)
while(num > 0):
  digit = num%10
  sum = sum + digit
  num = (num - digit)/10
  print(int(digit))
  reverse = reverse*10 + int(digit)

print("The sum is : ",round(sum))
print("The reverse number is : ",reverse)

The  number is :  64732
2
3
7
4
6
The sum is :  22
The reverse number is :  23746

In [14]:
n = 100
sum = 0
while(n>=0):
  sum = sum + n
  n = n-1
print(sum)

5050

In [32]:
#table
num = int(input("enter the number you want table of "))
print("--------------------")
for i in range(1-1,10+1):
  print(" | ",num ," * ",i," = ",num*i," |")
print("--------------------")
# with while loop
i=0
while(i<=10):
  print(" | ",num ," * ",i," = ",num*i," |")
  i = i + 1
print("--------------------")

enter the number you want table of 4
--------------------
 |  4  *  0  =  0  |
 |  4  *  1  =  4  |
 |  4  *  2  =  8  |
 |  4  *  3  =  12  |
 |  4  *  4  =  16  |
 |  4  *  5  =  20  |
 |  4  *  6  =  24  |
 |  4  *  7  =  28  |
 |  4  *  8  =  32  |
 |  4  *  9  =  36  |
 |  4  *  10  =  40  |
--------------------
 |  4  *  0  =  0  |
 |  4  *  1  =  4  |
 |  4  *  2  =  8  |
 |  4  *  3  =  12  |
 |  4  *  4  =  16  |
 |  4  *  5  =  20  |
 |  4  *  6  =  24  |
 |  4  *  7  =  28  |
 |  4  *  8  =  32  |
 |  4  *  9  =  36  |
 |  4  *  10  =  40  |
--------------------

In [38]:
#sum of cubes of a number
n = 2
sum = 0
for i in range(1,n+1):
  sum = sum + i**3
print(sum)

9

In [55]:
#prime number
n = int(input("Enter the number : "))
count = 0
for i in range(2,n):
  if(n%i == 0):
    count = count + 1
if(count == 0):
  print(n, " is a Prime number")
else:
  print(n, " is Not a Prime number")

print("--------------------")
#using break=
for i in range(2,n):
  if(n%i == 0):
    print(n, " is Not a Prime number")
    break
  else:
    print(n, " is a prime number")
    break

print("--------------------")
#using boolean
is_prime = True
for i in range(2,n):
  if(n%i == 0):
    is_prime = False
    break
if(is_prime == True):
  print(n, " is a prime number")
else:
  print(n, " is not a prime number")

#using square root
sqrt = int(n ** 0.5) + 1

Enter the number : 5
5  is a Prime number
--------------------
5  is a prime number
--------------------
5  is a prime number