<a href="https://colab.research.google.com/github/Ravinangal/colabgoogle/blob/main/program1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
print(" Raviinder Singh \n Village : Nangal \n Dist : Barnala \n Qualification : Graduation \n CGPA : 8.9 \n ")

 Raviinder Singh
 Village : Nangal
 Dist : Barnala
 Qualification : Graduation
 CGPA : 8.9

In [83]:
a = 10
print("my number is : ",a)
a= a+10
print("Here the number is !!! : ",a)

my number is :  10
Here the number is !!! :  20

In [84]:
print("------------------------------------------")
print("|Rank  | State Name  |Population(Million)|")
print("------------------------------------------")
print("| 1    | UP           | 241.3            |")
print("| 2    | Bihar        | 131.3            |")
print("| 3    | Maharastra   | 128.7            |")
print("| 4    | West Bengal  | 100.2            |")
print("| 5    | MP           | 89.03            |")
print("------------------------------------------")

------------------------------------------
|Rank  | State Name  |Population(Million)|
------------------------------------------
| 1    | UP           | 241.3            |
| 2    | Bihar        | 131.3            |
| 3    | Maharastra   | 128.7            |
| 4    | West Bengal  | 100.2            |
| 5    | MP           | 89.03            |
------------------------------------------

In [85]:
a = "Raviinder"
b = "Singh"
print(a+" "+b)


a = 2
b = 55
print(a+b)

Raviinder Singh
57

In [86]:
Account = 13456789print(Account)

NameError: name 'account' is not defined